<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parse html</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Word</th>
        <th>Frequency</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="word : ${words}">
        <td><span th:text="${word.content}"></span></td>
        <td><span th:text="${word.frequency}"></span></td>
    </tr>


    </tbody>
</table>

<form th:action="@{/save}"  th:method="post">
    <input type="submit" value="Save statistics"/>
</form>
<form th:action="@{/parse}" th:method="get">
    <input type="submit" value="New parse request"/>
</form>

</body>
</html>